@use '../config/variables';
@use '../config/mixins';

.feature {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: variables.$color-base;

  &__title {
    font-size: 32px;
    margin-bottom: 60px;
    font-family: variables.$font-rounded;
    text-align: center;
  }
  &__contents {
    display: grid;
    gap: 30px;
    @include mixins.md {
      gap: 60px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.feature-content {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  &__img {
    width: 100%;
  }
  &__text {
    padding: 16px;
    @include mixins.md {
      padding: 24px;
      font-size: 20px;
    }
  }
}