section.heroview
  .heroview-filter
  .container
    .heroview-header
      .heroview-header__left
        h1.heroview-header__logo LOGO
      .heroview-header__right
        a(href="#").heroview-header__link Googleアカウントではじめる
    .heroview-contents
      h2.heroview-contents__title 素敵な思い出を<br>大切な人とあつめよう
      p.heroview-contents__text xxxxxは、Web上で管理できるアルバムです。<br>共有したい人を招待して、あなたとの思い出を画像で共有しましょう。
      a(href="#").heroview-contents__link Googleアカウントではじめる