section.usage
  .container
    h2.usage__title xxxxxのつかいかた
    ul.usage__contents
      -
        var usages = [
          {
            icon : 'assets/images/icon-login.svg',
            heading: '会員登録'
          },
          {
            icon : 'assets/images/icon-event.svg',
            heading : 'イベント作成'
          },
          {
            icon : 'assets/images/icon-add-photo.svg',
            heading : '画像投稿'
          },
          {
            icon : 'assets/images/icon-group.svg',
            heading : 'イベント招待'
          },
          {
            icon : 'assets/images/icon-comment.svg',
            heading : 'コメント投稿'
          },
        ];
      each usage, i in usages
        li.usage-content
          p.usage-content__number #{i + 1}

          if usage.icon
            .usage-content__icon
              img(src=usage.icon)

          if usage.heading
            p.usage-content__heading #{usage.heading}
