section.usage
  .container
    h2.usage__title xxxxxのつかいかた
    ul.usage-contents
      -
        var usages = [
          {
            number : '1',
            icon : 'assets/images/icon-login.svg',
            heading: '会員登録'
          },
          {
            number : '2',
            icon : 'assets/images/icon-event.svg',
            heading : 'イベント作成'
          },
          {
            number : '3',
            icon : 'assets/images/icon-add-photo.svg',
            heading : '画像投稿'
          },
          {
            number : '4',
            icon : 'assets/images/icon-group.svg',
            heading : 'イベント招待'
          },
          {
            number : '5',
            icon : 'assets/images/icon-comment.svg',
            heading : 'コメント投稿'
          },
        ];
      each usage in usages
        li.usage-content
          p.usage-content__number #{usage.number}
          .usage-content__icon
            img(src=usage.icon)
          p.usage-content__heading #{usage.heading}