
extends /inc/layout/_base

block meta
  title Flockマークアップトレーニング Vol.01
  meta(name="description", content="Flockマークアップトレーニング Vol.01")

block content
  include /inc/lp/_heroview
  include /inc/lp/_case
  include /inc/lp/_feature
  include /inc/lp/_usage
  include /inc/components/_bnr